/* logo */
.logo {
    width: 16rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

/* main headline h1 on start screen */
.headline {
    text-align: center;
    margin-bottom: 30px;
}